html,
body {
  width: 300px;
}

.hidden {
  display: none;
}

.loading-skeleton .list-group-item {
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border-color: #ccc;
}

.loading-skeleton .list-group-item::placeholder {
  color: transparent;
}
@keyframes loading-skeleton {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;
}
